{% extends "template.twig" %}

{% block content %}
    <h1>API Documentation</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card my-3">
                    <div class="card-header bg-success text-white">
                        <h2>Endpoint: /api/weather</h2>
                    </div>
                    <div class="card-body">
                        <h3>Method: <span class="badge text-bg-primary">GET</span></h3>
                        <p>This endpoint returns the current weather information for a given location.</p>
                        <h4>Parameters:</h4>
                        <ul>
                            <li><strong>location</strong>: The location for which to retrieve the weather information.
                            </li>
                        </ul>
                        <h4>Example (non-premium):</h4>
                        <code>/api/weather?latitude=NUM&longitude=NUM</code>
                        <h4>Example (premium):</h4>
                        <code>/api/weather?latitude=NUM&longitude=NUM&date=YYYY-MM-DD</code>
                        <h4>HTTP Header (premium):</h4>
                        <p>Authorization: Bearer API_KEY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card my-3">
                    <div class="card-header bg-success text-white">
                        <h2>Endpoint: /api/payment</h2>
                    </div>
                    <div class="card-body">
                        <h3>Method: <span class="badge text-bg-warning">POST</span></h3>
                        <p>This endpoint processes a payment for the premium tier.</p>
                        <h4>Parameters:</h4>
                        <ul>
                            <li><strong>amount</strong>: The amount to be paid.</li>
                            <li><strong>currency</strong>: The currency in which the payment is made.</li>
                        </ul>
                        <h4>Example:</h4>
                        <code>
                            {
                            "amount": 1000,
                            "currency": "CZK"
                            }
                        </code>
                        <h4>HTTP Header:</h4>
                        <p>Authorization: Bearer API_KEY</p>
                        <hr>
                        <h3>Method: <span class="badge text-bg-info">OPTIONS</span></h3>
                        <p>Find out which request methods an endpoint supports.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card my-3">
                    <div class="card-header bg-success text-white">
                        <h2>Endpoint: /api/user</h2>
                    </div>
                    <div class="card-body">
                        <h3>Method: <span class="badge text-bg-warning">POST</span></h3>
                        <p>Creates user.</p>
                        <h4>POST parameters:</h4>
                        <ul>
                            <li><strong>username</strong>: User's username.</li>
                        </ul>
                        <hr>
                        <h3>Method: <span class="badge text-bg-danger">DELETE</span></h3>
                        <p>Deletes user.</p>
                        <h4>URL parameters:</h4>
                        <ul>
                            <li><strong>username</strong>: User's username.</li>
                        </ul>
                        <h4>Example:</h4>
                        <code>
                            /api/user/leonardo
                        </code>
                        <h4>HTTP Header:</h4>
                        <p>Authorization: Bearer API_KEY</p>
                        <hr>
                        <h3>Method: <span class="badge text-bg-info">OPTIONS</span></h3>
                        <p>Find out which request methods an endpoint supports.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card my-3">
                    <div class="card-header bg-success text-white">
                        <h2>Endpoint: /api/places</h2>
                    </div>
                    <div class="card-body">
                        <h3>Method: <span class="badge text-bg-primary">GET</span></h3>
                        <p>Get saved places.</p>
                        <h4>HTTP Header:</h4>
                        <p>Authorization: Bearer API_KEY</p>
                        <h3>Method: <span class="badge text-bg-warning">POST</span></h3>
                        <p>Creates place.</p>
                        <h4>POST parameters:</h4>
                        <ul>
                            <li><strong>name</strong>: Name of saved favourite place.</li>
                            <li><strong>latitude</strong>: User's username.</li>
                            <li><strong>longitude</strong>: User's username.</li>
                        </ul>
                        <h4>Example:</h4>
                        <code>
                            {"name": "Prague", "latitude": 50.0755, "longitude": 14.4378}
                        </code>
                        <h4>HTTP Header:</h4>
                        <p>Authorization: Bearer API_KEY</p>
                        <hr>
                        <h3>Method: <span class="badge text-bg-danger">DELETE</span></h3>
                        <p>Deletes place.</p>
                        <h4>Example:</h4>
                        <code>
                            /api/user/prague
                        </code>
                        <h4>Example:</h4>
                        <code>
                            {"name": "Prague", "latitude": 50.0755, "longitude": 14.4378}
                        </code>
                        <hr>
                        <h3>Method: <span class="badge text-bg-info">OPTIONS</span></h3>
                        <p>Find out which request methods an endpoint supports.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}