{% extends "template.twig" %}

{% block content %}
    <div class="col-lg-6 col-sm-12">
        <h1>Pay for premium access!</h1>

        <form class="g-3" id="paymentForm" method="POST">
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="paymentType">Payment Type:</label>
                <select class="form-select" id="paymentType" name="paymentType" required>
                    <option value="cash">Cash</option>
                    <option value="card">Card</option>
                </select>
            </div>
            <div class="card mt-2 mb-3" id="card-payment" style="display: none">
                <div class="card-header text-bg-primary">
                    Please fill in your card details:
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="cardNumber">Card number:</label>
                        <input class="form-control" type="text" id="cardNumber" name="cardNumber">
                    </div>
                    <div class="mb-3">
                        <label for="cardExpiration">Date of expiration:</label>
                        <input class="form-control" type="text" id="cardExpiration" name="cardExpiration">
                    </div>
                    <div class="mb-3">
                        <label for="cardCode">CVV/CVC:</label>
                        <input class="form-control" type="text" id="cardCode" name="cardCode">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="premium-option">Type of premium:</label>
                <select class="form-select" id="premium-option" name="premium-option" required>
                    <option value="1">1 month</option>
                    <option value="3">3 months</option>
                    <option value="6">6 months</option>
                    <option value="12">12 months</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
    <script>
        document.getElementById('paymentForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const paymentType = document.getElementById('paymentType').value;
            const cardNumber = document.getElementById('cardNumber').value;
            const cardExpiration = document.getElementById('cardExpiration').value;
            const cardCode = document.getElementById('cardCode').value;
            const premiumOption = document.getElementById('premium-option').value;

            const formData = {
                username: username,
                paymentType: paymentType,
                card: {
                    cardNumber: cardNumber,
                    cardExpiration: cardExpiration,
                    cardCode: cardCode,
                },
                premiumOption: premiumOption
            };

            fetch('/api/payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(function (response) {
                    var messageElement = document.createElement('div');
                    var where = document.getElementsByTagName("h1")[0];
                    if (response.status === 200) {
                        messageElement.className = 'alert alert-success';
                        messageElement.textContent = 'Payment was successful!';
                    } else {
                        messageElement.className = 'alert alert-danger';
                        messageElement.textContent = 'Error occurred! Please try again or contact support!';
                        response.text().then(function (text) {
                            console.log(JSON.parse(text)["status"]);
                        });
                    }

                    where.insertAdjacentElement('afterend', messageElement);
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
        document.getElementById('payment-type').addEventListener('change', function (event) {
            var cardPaymentElement = document.getElementById('card-payment');

            if (event.target.value === 'card') {
                cardPaymentElement.style.display = 'block';
            } else {
                cardPaymentElement.style.display = 'none';
            }
        });
    </script>
{% endblock %}