{% extends "template.twig" %}

{% block content %}
    <div class="row">
    <div class="col-lg-6 col-sm-12">
        {% include "component/paymentForm.twig" %}
    </div>
        <div class="col-lg-6 col-sm-12">
            {% include "component/createUser.twig" %}
        </div>
    </div>
{% endblock %}